@page
@model EventBase.Pages.UserManager.IndexModel

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity;
@using EventBase.Models;

@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title)
            </th>
            <th>
                Description)
            </th>
            <th>
                Place)
            </th>
            <th>
                Address)
            </th>
            <th>
                Date)
            </th>
            <th>
                Is Organiser?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{int i = 0; }
        @foreach (var item in Model.MyUsers)
        {
            i++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                   
                    @if (!UserManager.IsInRoleAsync(item, "Organizer").Result && !UserManager.IsInRoleAsync(item, "Admin").Result)
                    {
                        <form method="post">
                            <input type="hidden" name="id" value="@item.Id"/>
                            <input type="checkbox" onchange="this.form.submit()" value="@item.Id" name="id" />
                        </form>
                    }
                    else if(UserManager.IsInRoleAsync(item, "Admin").Result)
                    {
                        <div class="btn-dark disabled">Admin</div>
                    }
                    else
                    {
                        <form method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="checkbox" onchange="this.form.submit()" value="@item.Id" name="id" checked/>
                        </form>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
